<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>Controler.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersRegister</servlet-name>
        <servlet-class>Controler.UsersRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUsers</servlet-name>
        <servlet-class>Controler.GetAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUsers</servlet-name>
        <servlet-class>Controler.UpdateUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsers</servlet-name>
        <servlet-class>Controler.DeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient_DetailsRegister</servlet-name>
        <servlet-class>Controler.Patient_DetailsRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Patient_DetailsHMS</servlet-name>
        <servlet-class>Controler.Update_Patient_DetailsHMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatient</servlet-name>
        <servlet-class>Controler.DeletePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctor_DetailsRegister</servlet-name>
        <servlet-class>Controler.Doctor_DetailsRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Doctor_Details</servlet-name>
        <servlet-class>Controler.Delete_Doctor_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Doctor_DetailsHMS</servlet-name>
        <servlet-class>Controler.Update_Doctor_DetailsHMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill_Details_Register</servlet-name>
        <servlet-class>Controler.Bill_Details_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Bill_Details</servlet-name>
        <servlet-class>Controler.Delete_Bill_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Bill_Details</servlet-name>
        <servlet-class>Controler.Update_Bill_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hospital_Details_Registration</servlet-name>
        <servlet-class>Controler.Hospital_Details_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Hospital_Details</servlet-name>
        <servlet-class>Controler.Delete_Hospital_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Hospital_DetailsHMS</servlet-name>
        <servlet-class>Controler.Update_Hospital_DetailsHMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controler.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersRegister</servlet-name>
        <url-pattern>/UsersRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUsers</servlet-name>
        <url-pattern>/GetAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUsers</servlet-name>
        <url-pattern>/UpdateUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsers</servlet-name>
        <url-pattern>/DeleteUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient_DetailsRegister</servlet-name>
        <url-pattern>/Patient_DetailsRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Patient_DetailsHMS</servlet-name>
        <url-pattern>/Update_Patient_DetailsHMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatient</servlet-name>
        <url-pattern>/DeletePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctor_DetailsRegister</servlet-name>
        <url-pattern>/Doctor_DetailsRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Doctor_Details</servlet-name>
        <url-pattern>/Delete_Doctor_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Doctor_DetailsHMS</servlet-name>
        <url-pattern>/Update_Doctor_DetailsHMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill_Details_Register</servlet-name>
        <url-pattern>/Bill_Details_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Bill_Details</servlet-name>
        <url-pattern>/Delete_Bill_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Bill_Details</servlet-name>
        <url-pattern>/Update_Bill_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hospital_Details_Registration</servlet-name>
        <url-pattern>/Hospital_Details_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Hospital_Details</servlet-name>
        <url-pattern>/Delete_Hospital_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Hospital_DetailsHMS</servlet-name>
        <url-pattern>/Update_Hospital_DetailsHMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginAndRegisterUsersHMS.jsp</welcome-file>
    </welcome-file-list>
</web-app>
